.button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 20px 0;
}

.left-buttons {
    display: flex;
    gap: 15px;
}

.trade-button {
    background-color: #f0b90b;
    color: #1e1e1e;
    border: 1px solid; /* Borde invisible inicialmente */
    padding: 10px 20px; /* Asegúrate de mantener el mismo padding */
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    border-radius: 5px;
}

.trade-button:hover {
    background-color: #1e1e1e;
    color: #f0b90b;
    border-color: #f0b90b; /* Cambia el borde a amarillo en hover */
}

.trade-button:focus {
    outline: none;
}

.reload-button {
    background-color: #1e1e1e;
    color: #f0b90b;
}

.reload-button:hover {
    background-color: #f0b90b;
    color: #1e1e1e;

}

/* Notificaciones emergentes */
.popup-notification {
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: #1e1e1e;
    color: #f0b90b;
    padding: 15px 30px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    font-weight: bold;
    text-align: center;
    z-index: 1000;
    animation: fadeOut 6s ease forwards;
}

.button-icon {
    margin-top: 1px;
    display: none;
}

/* Animación para desaparecer gradualmente */
@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@media screen and (max-width: 768px) {
    .trade-button .button-text {
        display: none; /* Oculta el texto en dispositivos móviles */
    }

    .trade-button .button-icon {
        font-size: 20px; /* Ajusta el tamaño del ícono para móviles */
    }

    .button-icon {
        display: block; /* Muestra el ícono en dispositivos móviles */
    }
}